img{
    width: 20%;
    height: 30%;
    object-fit: contain;
}
table{
    width: 70%;
}

h1{
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial;
    color: #676060;
    font-size: 250%;
    margin-top: 5%;
    margin-right: 100px;
    font-weight: lighter;
}
h5{
    font: arial;
    color: #676060;
    outline: #676060;
    font-size: 130%;
    font-weight:lighter;}

input[type="button"] {
    margin-top: 50px;
    border: 0px;
    border-radius: 10px;
    font-size: 18px;
    background-color:#0000fc;
    height: 40px;
    width: 20%;
    padding: auto;
    color:white;
    font:arial;
    font-weight:400;
  }

h4{
    font: arial;
    color:#676060;
    outline:#676060;
    font-size: 130%;
    margin-top: -10%;
    font-weight:lighter;
}
h2{
    
    font: arial;
    color: #676060;
    outline: #676060;
    font-size: 130%;
    font-weight:lighter;
}
#triangulo-para-baixo {
    width: 50px;  
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 25px solid #949396;
  }
  
h3{
    opacity: 0.73;
    font-family: SegoeUI;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: left; 
    color: 676060; 
}

input[type="text"] ~::placeholder{
    opacity: 0.83;
    font-family: SegoeUI;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.34;
    letter-spacing: normal;
    text-align: left;
    color: #707070; 
    margin-top: 10px;


  }
  
input[type="text"] {
    opacity: 0.90;
     border: 0.5px solid #676060;
     color:#707070;
     width: 80%;
     height: 30px;   
     border-radius: 10px;
     margin-left:10px;
     margin-top: 10px;
  }
  input[type="checkbox"] {
     margin-left: 10%;
     border: 0.5px solid #676060;
     border-radius: 10px;
     background-color: #ffffff;
  }
  h6{
    margin-left: 10%;
    border-radius: 10px;
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial;
    color:#676060;
    font-size: 120%;
    font-weight: normal;
 }

