
table{
    width: 100%;
    
}
form{
    
    margin-left: 35%;
}
h3{
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial;
    color: #676060;
    font-size: 200%;
    margin-top: 5%;
    margin-left: 50%;
    font-weight: lighter;
}


input[type="button"] {
    margin-top: 50px;
    border: 0px;
    border-radius: 10px;
    font-size: 18px;
    background-color:#0000fb;
    height: 40px;
    width: 10%;
    padding: auto;
    color:white;
    font:arial;
    font-weight:400;
  }

h2{
    
    font: arial;
    color: #676060;
    outline: #676060;
    font-size: 130%;
    font-weight:lighter;
}

input[type="text"] ~::placeholder{
    opacity: 0.83;
    font-family: SegoeUI;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.34;
    letter-spacing: normal;
    text-align: left;
    color: #707070; 
    margin-top: 10px;

  }
  
input[type="text"] {
    opacity: 0.90;
     border: 0.5px solid #676060;
     color:#707070;
     border-radius: 10px;
     margin-left:10px;
     margin-top: 0;
  }
  input[type="checkbox"] {
     margin-left: 10%;
     border: 0.5px solid #676060;
     border-radius: 10px;
     background-color: #ffffff;
  }
  body{
    background: url("../css/assets/papel.png");
    background-size: 100%;
  }

