
.Table {
    width: 100%;
    height: 50%;
}
img {
    width: 60.1%;
    height: 56.1%;
    object-fit: contain;
    margin-top: 2%;
}

h1 {
    border-radius: 10px;
    box-shadow: 20px 20px 10px 0 #00000029;
    border: solid 1px var(--warm-grey);
    background-color: #f9f8f8;
}  
hr{
    border: solid 1px lightgray;
}
    