#logo{
  width: 60.1%;
  height: 56.1%;
  object-fit: contain;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
}

.Box-content {
  width: fit-content;
  height: min-content;
}

.input-field {
    border: 0.5px solid gray;
    border-radius: 5px;
    color: gray;
    width: 25.5%;
    height: 30px;
    font-size: 100%;
}

#user {
    display: block;
    width: 25.5%;
    border-radius: 5px;
    margin-left: 0px;
}

#password {
    display: block;
    border: 0.5px solid gray;
    margin-top:1.7%;
}


.input-field ~::placeholder {
    opacity: 0.83;
}

#password ~::placeholder{
    background: #ffff;   
}

.button  {
    width: 7.8%;
    height: 40px;
    font-size: 100%;
    margin-top: 2%;
}

#pass-forgot{
    margin-left: 17%;
    line-height: 1.32;
    text-align: right;
    color: #707070;
    font-size: 65%;
}

.esqueceu_senha {
  
    font-stretch: normal;
  
    font-style: normal;
  
    line-height: 1.32;
  
    letter-spacing: normal;
  
    text-align: right;
  
    color: #707070;
    font-size: 50%;
}
